@import url(https://fonts.googleapis.com/css?family=PT+Sans:400,700|Istok+Web|Oxygen:300,700,400|Varela+Round|Chivo|Telex);
html {
  color: black !important; }

@media (max-width: 767px) {
  html {
    width: 100%; } }
@media (min-width: 768px) {
  html {
    width: 560px; } }
.timeline.twitter-timeline {
  background-color: #2c3e50; }
.timeline.twitter-timeline p, .timeline.twitter-timeline a, .timeline.twitter-timeline ol, .timeline.twitter-timeline ul, .timeline.twitter-timeline li {
    font-family: "Oxygen", "Ubuntu", "Helvetica Neue", Helvetica, arial, sans-serif; }

.twitter-timeline .tweet {
  padding: 7px 10px;
  display: inline-block;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
  border-bottom: 1px solid black; }
.twitter-timeline a,
.twitter-timeline a:visited {
  text-decoration: underline; }
.twitter-timeline .u-url,
.twitter-timeline .expand,
.twitter-timeline .hashtag,
.twitter-timeline .profile {
  text-decoration: none; }
  .twitter-timeline .u-url:hover,
  .twitter-timeline .expand:hover,
  .twitter-timeline .hashtag:hover,
  .twitter-timeline .profile:hover {
    text-decoration: underline;
    color: #fff; }

.twitter-timeline a:visited {
   display: none}

.twitter-timeline .profile {
  display: none;}
.twitter-timeline .author {
  display: none;}

.u-photo,
.full-name,
.inline-media {
  display: none; }
