@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,700|Istok+Web|Oxygen:300,700,400|Varela+Round|Chivo|Telex);
html {
  color: black !important; }

@media (max-width: 767px) {
  html {
    width: 100%; } }
@media (min-width: 768px) {
  html {
    width: 560px; } }
.timeline.twitter-timeline {
  background-color: #f0f7fc;}
.root.timeline.twitter-timeline p {
position:relative;
color: #333333;
margin-left:45px;
margin-top:-38px;
padding-bottom:25px;
}
  .root.timeline.twitter-timeline p, .root.timeline.twitter-timeline a, .root.timeline.twitter-timeline ol, .root.timeline.twitter-timeline ul, .root.timeline.twitter-timeline li { 
    font-family: "Oxygen", "Ubuntu", "Helvetica Neue", Helvetica, arial, sans-serif;
     font-size:11px; }

.root.twitter-timeline .tweet {
  padding: 7px 5px 13px 1px;
color: #176093;
  border-bottom: 1px solid #d7edfc; }
.root.twitter-timeline a,
.root.twitter-timeline a:visited {
  text-decoration: underline; 
      color: #176093;}
.root.twitter-timeline .u-url,
.root.twitter-timeline .expand,
.root.twitter-timeline .hashtag,
.root.twitter-timeline .profile {
  text-decoration: none; }
  .root.twitter-timeline .u-url:hover,
  .root.twitter-timeline .expand:hover,
  .root.twitter-timeline .hashtag:hover,
  .root.twitter-timeline .profile:hover {
    text-decoration: underline;
    color: #176093;
    font-size:11px;
     }






.dt-updated {
position:absolute;
bottom:46px;
width:35px;
margin-left:-50px;
}

.u-url .profile {
position:relative;
bottom:77px;
width:35px;
margin-left:0px;
}

.p-nickname {
position:absolute;
bottom:-45px;
}


.retweet-credit{
padding-top:5px;
padding-bottom:20px;
}

.tweet-actions{
z-index:2;
margin-top:20px;
}



.full-name {
  display: none; }

